
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Hello my friends 
        <a href="/peter">Peter</a>
        <a href="/smith">Smith</a>
    </div>
</body>
</html>
