
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div> 
        <form action="/Process" method="post">
            Name: <input name="N" type="text"/>
            Address: <input name="A" type="text" />
            Marks: <input name="M" type="text" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
