
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculation</title>
</head>
<body>
    <div> 
        @{ 
            Response.Write(ViewData["Result"].ToString());
        }
    </div>
</body>
</html>
